/* theme.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #2c2c2c; /* Dark grey background */
    color: #ffffff; /* White text */
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #4c4c4c; /* Lighter grey for containers */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ff4c4c; /* Dark red for labels */
}

.form-inline {
    display: flex;
    justify-content: space-between;
}

.form-inline .form-group {
    flex: 1;
    margin-right: 10px;
}

.form-inline .form-group:last-child {
    margin-right: 0;
}

.checkbox-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    background-color: #ff4c4c; /* Dark red for buttons */
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.button-group button:hover {
    background-color: #cc0000; /* Darker red on hover */
}

.status-message {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}

.status-running {
    color: green;
}

.status-stopped {
    color: red;
}

#file_size_input {
    display: none;
}

.nav {
    margin-bottom: 20px;
    background-color: #4c4c4c; /* Lighter grey for navigation */
    padding: 10px;
    border-radius: 5px;
}

.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #ff4c4c; /* Dark red for links */
}

.nav a:hover {
    text-decoration: underline;
}